* {
    background: #141414;
    font-size: 16px;
}

body {
    margin-top: 24px;
    padding: 24px;
    background-color: #141414;
    max-width: 400px;
    margin: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border-radius: 4px;
}

.container {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

h1 {
    font-size: 38px;
}

button {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #B2D3A8;
    color: white;
    background-color: #B2D3A8;
    cursor: pointer;
}

button:hover {
    background-color: #629460;
    border: 1px solid #629460;
}

input {
    padding: 8px 16px;
    border-radius: 4px; 
    color: white;
    border: 1px solid white;
    width: 63%;
    margin-right: 8px;
}

ul {
    margin-top: 24px;
    padding: 16px 0px;
    border-radius: 4px;
    list-style-type: none;
}

li {
    padding: 16px 0px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i {
    font-size: 16px;
}

span {
    color: #629460;
}